/* Define estilos para todos os elementos HTML */
* {
    background-color: black; /* Define a cor de fundo para todos os elementos */
    color: aliceblue; /* Define a cor do texto para todos os elementos */
}
/* Define estilos para elementos com a classe "content" */
.content {
    display: flex; /* Define o modelo de layout como flexível */
    flex-direction: column; /* Define a direção dos itens como coluna */
    justify-content: center; /* Alinha os itens verticalmente ao centro */
    align-items: center; /* Alinha os itens horizontalmente ao centro */
}
/* Define estilos para o elemento <h1> que é filho de um elemento com a classe "content" */
.content > h1 {
    margin-bottom: 30px; /* Adiciona margem inferior ao elemento <h1> */
}
/* Define estilos para elementos com a classe ".figure" */
.figure {
    display: flex; /* Configura o elemento como um flex container */
    justify-content: center; /* Centraliza os itens horizontalmente dentro do flex container */
    margin-bottom: 5px; /* Adiciona uma margem inferior de 5 pixels */
}
/* Define estilos para o elemento com o id "preview" */
#preview {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinha verticalmente a imagem */
    margin-top: 20px; /* Adiciona margem superior */
    width: 100%; /* Define a largura máxima do contêiner */
    height: 300px; /* Define a altura máxima do contêiner */
    overflow: hidden; /* Garante que a imagem redimensionada não se expanda além do contêiner */
}
/* Define estilos para a imagem dentro do elemento com o id "preview" */
#preview > img {
    max-width: 100%; /* Define a largura máxima da imagem como 100% do contêiner */
    max-height: 100%; /* Define a altura máxima da imagem como 100% do contêiner */
}
#histograma-canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 300px;
    background-color: white;
}
/* Define um estilo para o contêiner*/
.rotation-container {
    width: 300px; /* Define a largura máxima do contêiner como 300 pixels */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente dentro de seu contêiner pai */
}
/* Define estilos para o elemento com a classe "rotation" */
.rotation {
    animation: rotate 2s linear infinite; /* Aplica uma animação chamada "rotate" */
}
/* Define uma animação chamada "rotate" */
@keyframes rotate {
    from {
        transform: rotate(0deg); /* Define a rotação inicial como 0 graus */
    }
    to {
        transform: rotate(360deg); /* Define a rotação final como 360 graus */
    }
}
/* Define estilos para elementos com a classe "buttons" */
.buttons {
    display: flex; /* Define o modelo de layout como flexível */
    flex-wrap: wrap; /* Permite que os itens sejam envolvidos para a próxima linha quando não houver espaço */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    margin-top: 15px; /* Adiciona margem superior */
}
/* Define estilos para os botões dentro do elemento com a classe "buttons" */
.buttons > button {
    position: relative; /* Define a posição do elemento como relativa */
    display: inline-block; /* Define o elemento como um bloco que segue o fluxo normal do documento */
    margin: 10px; /* Adiciona margem ao redor do botão */
    padding: 15px; /* Adiciona preenchimento dentro do botão */
    font-size: 20px; /* Define o tamanho da fonte */
    letter-spacing: 2px; /* Define o espaçamento entre as letras */
    color: #725ac1; /* Define a cor do texto */
    background: transparent; /* Define o fundo do botão como transparente */
    cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
    transition: case-out 0.5s; /* Define a transição de mudança de caso */
    border: 2px solid #725ac1; /* Adiciona uma borda sólida ao redor do botão */
    border-radius: 10px; /* Define o raio da borda para arredondar os cantos */
    box-shadow: inset 0 0 0 0 #725ac1; /* Adiciona uma sombra à borda do botão */
}
/* Define estilos para os botões quando o mouse está sobre eles */
.buttons > button:hover {
    color: white; /* Define a cor do texto como branca */
    box-shadow: inset 0 -100px 0 0 #725ac1; /* Altera a sombra para criar um efeito de preenchimento invertido */
}
/* Define estilos para os botões quando estão sendo clicados */
.buttons > button:active {
    transform: scale(0.9); /* Reduz ligeiramente o tamanho do botão quando clicado */
}
/* Define estilos para elementos com a classe "tremendo" */
.tremendo {
    animation: tremor 0.1s infinite alternate; /* Aplica uma animação chamada "tremor" */
}
/* Define uma animação chamada "tremor" */
@keyframes tremor {
    0% { transform: rotate(-2deg); } /* Define a rotação inicial como -2 graus */
    100% { transform: rotate(2deg); } /* Define a rotação final como 2 graus */
}